<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-avatar >
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-title>livros</ion-title>
    <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let c of categorias">
    <ion-item>{{c.nome}}</ion-item>

    <ion-list *ngFor="let l of livros">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>{{l.titulo}}</ion-card-title>
          <ion-card-subtitle>{{l.autor}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </ion-list>

</ion-content>
